a, a:hover, a:focus, a:active {
      text-decoration: none;
      color: inherit;
 }
.success {
	background-color: lightGreen;
	padding: 10px ;
	text-align: center;
	border-radius: 10px;
	border: 2px solid green;
	color: green;
	font-size: 20px;
}
.grid-container-top {
	display: grid;
	grid-template-columns: 100px 125px 150px 150px 150px;
	padding: 0px;
	border: 0px;
	background-color: lightGray;
}
.grid-item-top {
	padding: 12px;
	font-size: 18px;
	font-weight: bold;
}
.grid-container-p {
	display: grid;
	grid-template-columns: 100px 125px 150px 150px 150px;
	padding: 0px;
	border: 0px;
	background-color: white;
}
.grid-container-p:hover {
	background-color: #7CB9E8;
}
.grid-item-p {
	padding: 12px;
	font-size: 15px;
}
.grid-container-s {
	display: grid;
	grid-template-columns: 100px 125px 150px 150px 150px;
	padding: 0px;
	border: 0px;
	background-color: white;
}
.grid-container-s:hover {
	background-color: #7CB9E8;
}
.grid-item-s {
	padding: 12px;
	font-size: 15px;
}
.grid-container-u {
	display: grid;
	grid-template-columns: 100px 125px 150px 150px 150px;
	padding: 0px;
	border: 0px;
	background-color: white;
}
.grid-container-u:hover {
	background-color: #7CB9E8;
}
.grid-item-u {
	padding: 12px;
	font-size: 15px;
}
input {
	background-color: #1F75FE;
	border: 2px solid #1F75FE;
	border-radius: 5px;
	color: white;
	padding: 5px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
}
input:hover {
	background-color: #0047AB;
	border: 2px solid #0047AB;
	border-radius: 5px;
}